html {
  scroll-behavior: smooth !important;
}

body {
  background-color: rgb(255, 255, 255);
}

.navbar {
  background-color: #2cbfc6;
  
}

.navbar-light .navbar-brand{
  color:#ffffff
}


.jumbo {
  background-color: rgb(222, 222, 222);
  min-height: 250px;
  text-align: center;
}

h2 {
  color: #ff007f;
  margin-top: 20px;
  margin-bottom: 10px;
}

.introduction {
  margin-top: 15px;
  margin-bottom: 30px;
}

.borders {
  margin-bottom: 30px;
}

.center-block {
  max-width: 400px;
}

.carouselitem img{
  max-width: 400px;
  margin: 0 auto;
}

.jumbo {
 background-color:#2cbfc6;
position: relative;
}

.jumbo img{

}

.jumbotext {
  max-width: 500px;
  color: #ffffff;
}

.jumbocontent {
  display: flex;
  justify-content: center;

  padding-top: 4rem;
}

.calendar {
  width: 900px;
  max-width: 100%;
  background-color: #ff007f;
  color: white;
  border-radius: 0px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 10px;
}

button.react-calendar__tile {
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 0px;
  border: 2px solid #ff007f;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background: #f8f8fa;
 color: #6f48eb;
 border-radius: 6px;
}

.react-calendar__tile--now {
  background: #bbb;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #8686b1;
 }
 .react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #525297;
  color: #6f48eb;
  border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

button.react-calendar__navigation__label {
  background-color: transparent;
  border: 0px solid black;
  color: #ffffff !important;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
  background-color: transparent !important;
  border: 0px solid black;
  color: #ffffff !important;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  background-color: transparent !important;
  border: 0px solid black;
  color: #ffffff !important;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  background-color: transparent !important;
  border: 0px solid black;
  color: #ffffff !important;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  background-color: transparent !important;
  border: 0px solid black;
  color: #ffffff !important;
}


.flexreserv {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 1rem auto;
}

.reservation {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 300px;
}

.calheader {
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
}

.logo {
  width: 300px;
  margin-top: 0px;
}

.footer {
  background-color: #2cbfc6;
}

#packages {
  text-align: center;
  justify-content: center;
}

.scrollup {
    position: "fixed";
    bottom: "50px";
    right: "50px";
    height: "50px";
    width: "50px";
    font-size: "50px";
    border-radius: 50%;
    background-color:#ff007f;
    color: #ffffff;
    border: 0px solid black;
    line-height: 2px;
    text-shadow: 2px 2px #ff0000;
    z-index: 5;
}

.footerp {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 380px) {
  .scrollup {display: none;}
}
